{% extends "_base.html" %}

{% block title %}Formalising Mathematics in Lean - Utrecht Summerschool 2026{% endblock %}

{% block content %}

<h1>Formalising Mathematics in Lean - Utrecht Summerschool 2026</h1>

<p>An interactive theorem prover is a computer program to assist with the development of
mathematical proofs. By checking and automating proof steps, the machine aides the user in
creating proofs in a formal language understandable to the program.</p>

<p>Formalizing mathematics is the process of typing mathematical proofs into the interface of an
interactive theorem prover. In the past years, more and more mathematics, from undergraduate level
to the frontiers of modern research have been formalized in a variety of proof assistants.</p>

<p>While there are many interactive theorem provers, this course focuses on Lean and its mathematical
library mathlib, which already contains a substantial number of proofs of mathematical theorems and
infrastructure for proof automation.</p>

<h2>Registration</h2>

<p>For registration please head to <a href="https://utrechtsummerschool.nl/courses/science/formalizing-mathematics-in-lean">the registration page</a>.</p>
<p>Note that the cost for students is 200&euro;.</p>

<h2>Target audience</h2>

<p>The course is targeted to students familiar with rigorous mathematical proofs
(e.g. careful proofs by induction) that have an interest in theorem proving in Lean.</p>

<p>Students in science (mathematics, computer science, physics, etc) that are coursing the second
half of their bachelor, or are doing a MSc or a PhD will be well prepared for this course.</p>

<h2>Aim of the course</h2>

<p>Participants will learn how to formalize mathematics in Lean. The acquired knowledge will not
only enable participants to contribute to Lean's mathematical library mathlib - it will also
strengthen their understanding of mathematics.</p>

<h2>Study load</h2>

<p>The course takes one week, with a few hours of lectures per day. We will offer supervised lab
sessions to practice with the material taught in the lectures.</p>

<p>In the second part of the week, participants will work on self-chosen formalization projects in
teams with assistance and supervision by experienced Lean users.</p>

<h2>Resources</h2>

<p>The schedule is available <a href="./schedule.html">here</a>.

<p>Instructions to <a href="https://lean-lang.org/install/">Install Lean</a></p>

<p><a href="https://adam.math.hhu.de/#/g/leanprover-community/nng4">Natural Number Game</a></p>

{% endblock %}
