{% extends "_base.html" %}

{% block title %}Schedule - Utrecht Summerschool 2026{% endblock %}

{% block content %}

<h1>Schedule</h1>

<p>The workshop will start with registration on Monday, August 17 at 8:30 and end on August 21 at 14:30.
On the first three days, we will have lectures and guided exercise sessions and
on Thursday and Friday, participants will work on formalisation projects of their choice.</p>

<table>
<tr>
<th>Time</th><th>Monday</th><th>Tuesday</th><th>Wednesday</th><th>Thursday</th><th>Friday</th>
</tr>
<tr>
<td>8:30 - 9:00</td>
<td>Registration</td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>9:00 - 10:30</td>
<td>What is Formalisation of Mathematics? Speaker: Johan Commelin</td>
<td>Lecture 1: Sets and logic</td>
<td>Lecture 3: Algebraic structures and typeclasses</td>
<td>Start of project phase</td>
<td>Projects</td>
</tr>
<tr>
<td>11:00 - 12:30</td>
<td>Natural Number Game</td>
<td>Exercises</td>
<td>Exercises and announcement of topics</td>
<td>Projects</td>
<td>Projects, preparation of presentations</td>
</tr>
<tr>
<td>12:30 - 14:00</td>
<td>Lunch</td>
<td>Lunch</td>
<td>Lunch</td>
<td>Lunch</td>
<td>Lunch</td>
</tr>
<tr>
<td>14:00 - 15:30</td>
<td>Natural Number Game</td>
<td>Lecture 2: Real analysis and linear arithmetic</td>
<td>Hike</td>
<td>Dependent type theory vs. set theory and formalisation for education.</td>
<td>Project presentations</td>
</tr>
<tr>
<td>16:00 - 17:30</td>
<td>Install Lean</td>
<td>Exercises</td>
<td>Hike</td>
<td>Projects</td>
<td></td>
</tr>
</table>

<!-- <h2>Lectures</h2>

<h3>What is Formalisation of Mathematics?</h3>

<p>Speaker: Johan Commelin</p>

<h3>Sets and logic</h3>

<p>TBA</p>

<h3>Real analysis and linear arithmetic</h3>

<p>TBA</p>

<h3>Algebraic structures and typeclasses</h3>

<p>TBA</p>

<h2>Talks</h2>

<p>On Thursday we will have two talks of 45 minutes:</p>

<h3>Dependent type theory vs. set theory</h3>

<p>Speaker: Fernando Chu</p>

<p>Abstract: TBA</p>

<h3>Formalisation for Education</h3>

<p>Speaker: Pim Otte</p>

<p>Abstract: TBA</p> -->

{% endblock %}
