{% extends "_base.html" %}

{% block title %}Loki{% endblock %}

{% block content %}

<h1>Loki</h1>

<p>
Named after the <a href="https://en.wikipedia.org/wiki/Loki">Dutch god for formal verification</a>, Loki
is a weekly formalisation meetup in Utrecht.
</p>

<p>
We typically bring our laptops, exchange about our own formalisation projects or teach each other new tricks. Often
we also hook up a big monitor and hack on a project together. Later in the evening we usually order
Pizza together.
</p>

<p>
While most participants are most proficient in <a href="https://lean-lang.org/">Lean</a>, we code in
other proof assistants from time to time and are very happy to learn from experiences in different formal languages.
</p>

<h2>When &amp; Where?</h2>

<p>
We meet every <b>Wednesday</b> at <b>17:30</b> in the library of the mathematics department in Utrecht. The
library is on the 7th floor of the <a href={{ HFG_DIRECTIONS }}>Hans Freudenthal gebouw</a>. There
is no registration needed, feel free to just come and join us!
</p>

<p>
Most of the time, we wrap up between 21:00 and 22:00, but of course everyone is welcome to stay as short and long as
long as they wish.
</p>

<h2>I don't know what formalisation or Lean is, can I still come?</h2>

Definitely! We invite everyone interested in formalisation or Lean to join us. We are happy to help with
getting started and have many project ideas suitable for beginners on any level.

<h2>Contact</h2>

<p>
If you have any questions, please feel free to contact Christian Merten on the Lean Zulip or via
email at <code>c.j.merten@uu.nl</code>.
</p>

{% endblock %}
